<div class ='nologin'>
<div class="jumbotron jumbotron-fluid container-fluid" style ='height: 600px'>
 <div class ='box1'>
  <h1 class="display-1 text-white text-center mb-5">Sixer</h1>
  <h4 class="text-white text-center"><strong>Rainbow Six Siege アマ・プロチームのために考えられた、チームマネジメントサービス</strong></h4>
  <br>
  <h3 class="text-white text-center"><strong>----- スクリムレートランキング首位を目指せ -----</strong></h4>
  <hr class="my-4">
  <div class = 'text-right mr-3'>
  <p class = 'text-white'>アカウント作成、ログインは下のボタンから↓</p>
    <%= link_to 'サインアップ', new_user_registration_path, class: 'btn btn-success px-5' %>
    <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-primary px-5' %>
    </div>
    </div>
</div>
</div>